<div class="row">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <hr />
		<form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
			<div class="mb-3">
				<label>Title</label>
				<input type="text" class="form-control" formControlName="title" />
				<div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
					<div *ngIf="f.title.errors?.required">Title is required.</div>
					<div *ngIf="f.title.errors?.minlength">Title should be 6 character.</div>
				</div>
			</div>
			<div class="mb-3">
				<label>Description</label>
				<textarea class="form-control" formControlName="body"></textarea>
				<div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
					<div *ngIf="f.body.errors?.required">Description is required.</div>
					<div *ngIf="f.body.errors?.minlength">Description should be 10 character.</div>
				</div>
			</div>
			<div class="my-3">
				<button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Update Posts</button>
			</div>
		</form>
  </div>
</div>
